body{
    background-color:#37d3b9;
    background-image: linear-gradient(to bottom, rgba(137, 206, 184, 0.1),rgba(67, 185, 142, 0.623)49%, rgba(15, 116, 99, 0.4));
}

.title{
    border-bottom: black;
    color: rgb(215, 235, 227);
    text-align: center;
    border-radius: 0%;
    background-color: black;
}

p{
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: blanchedalmond;
}

.row{
    height: 100%;
    width: 100%;
}

.container.label {
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#idIdade{
    border-radius: 0.5rem;
}